.result-title{
  text-align: center;
  font-size: 40px;
  background-color: aquamarine;
}

.matching-result{
  width: 80%;
  font-size: 36px;
  text-align: center;
  background-color: coral;
  margin-right: auto;
  margin-left: auto;
}

.back-profiles{
  text-align: right;
  margin-right: 30px;
  font-size: 25px;
}

.lists{
  margin-top: 30px;
  text-align: center;
  flex-direction: column;
}

.lists-nickname{
  margin-top: 30px;
  font-size: 20px;
}